APP_ENV=production
APP_DEBUG=false
APP_KEY=SomeRandomString
APP_URI=http://localhost

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

SERVICES_GOOGLE_CLIENT_ID=blah
SERVICES_GOOGLE_CLIENT_SECRET=blah
